.modal.show {
  background-color: rgba(0, 0, 0, 0.9);
}

.custom-close-btn {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: white;
  color: black;
}

.custom-close-btn:hover {
  background-color: #f0f0f0;
}

.logo-centrado {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

h3.text-center {
  font-size: 2.5rem;
  font-weight: 600;
  letter-spacing: 2px;
}

.cursor-pointer {
  cursor: pointer;
}

::placeholder {
  color: #adadad;
  opacity: 1;
}

.error-container {
  min-height: 20px;
  display: flex;
  align-items: center;
}