<ul class="d-flex text-center justify-content-center bg-black border-top border-bottom mb-0 border-secondary">

  <li class="list-unstyled">
    <button class="btn text-white rounded-0 px-4 py-3 border-0 custom-lines-home" routerLink="/home"
      routerLinkActive="active border-bottom border-0 border-white">HOME</button>
  </li>

  <li class="list-unstyled">
    <button class="btn text-white rounded-0 px-4 py-3 border-0 custom-lines-starship" routerLink="/starship"
      routerLinkActive="active border-bottom border-0 border-white">STARSHIPS</button>
  </li>

</ul>