<nav class="navbar navbar-expand-lg navbar-dark bg-black px-3">
  <div class="container-fluid d-flex justify-content-between align-items-center py-5">

    <div class="d-flex div1">
      <a href="https://facebook.com" target="_blank" class="me-3 text-white">
        <i class="bi bi-facebook"></i>
      </a>
      <a href="https://twitter.com" target="_blank" class="me-3 text-white">
        <i class="bi bi-twitter"></i>
      </a>
      <a href="https://instagram.com" target="_blank" class="me-3 text-white">
        <i class="bi bi-instagram"></i>
      </a>
      <a href="https://youtube.com" target="_blank" class="text-white">
        <i class="bi bi-youtube"></i>
      </a>
    </div>

    <div class="logo-centrado">
      <img src="assets/img/logoSW.png" alt="Logo Star Wars" class="img-fluid" style="max-height: 80px;">
    </div>

    <div class="d-flex div3">
      <a href="/login" class="btn me-3 text-white border-0">LOG IN</a>
      <a href="/signin" class="btn text-white border-0">SIGN IN</a>
    </div>
  </div>
</nav>