<div class="modal fade show d-block"
  style="background: url('/assets/img/space.png') no-repeat center center/cover; min-height: 100vh;" tabindex="-1">

  <button type="button" class="btn-close custom-close-btn position-fixed top-0 end-0 m-3" (click)="closeModal()"
    aria-label="Close"></button>

  <div class="logo-centrado py-5 text-center">
    <img src="assets/img/logoSW.png" alt="Logo Star Wars" class="img-fluid" style="max-height: 80px;">
  </div>

  <div class="modal-dialog modal-dialog-centered pt-5">
    <div class="modal-content border-0 rounded-5 shadow-lg py-5">
      <h3 class="text-center mb-4">REGISTER</h3>
      <div class="modal-body px-5">
        <form (ngSubmit)="onSubmit()">

          <div class="mb-3">
            <input type="text" id="firstName" class="form-control" placeholder="First Name" [(ngModel)]="firstName"
              name="firstName" required minlength="3" pattern="[A-Za-z]*" />
            <div *ngIf="firstNameError" class="text-danger small">
              {{ firstNameError }}
            </div>
          </div>

          <div class="mb-3">
            <input type="text" id="secondName" class="form-control" placeholder="Second Name" [(ngModel)]="secondName"
              name="secondName" required minlength="3" pattern="[A-Za-z]*" />
            <div *ngIf="secondNameError" class="text-danger small">
              {{ secondNameError }}
            </div>
          </div>

          <div class="mb-3">
            <input type="email" id="email" class="form-control" placeholder="E-mail" [(ngModel)]="email" name="email"
              required (blur)="checkEmailAvailability()" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" />
            <div *ngIf="emailError" class="text-danger small">
              {{ emailError }}
            </div>
          </div>


          <div class="mb-3 pb-5">
            <input type="password" id="password" class="form-control" placeholder="Password" [(ngModel)]="password"
              name="password" required minlength="6" />
            <div *ngIf="passwordError" class="text-danger small">
              {{ passwordError }}
            </div>
          </div>

          <button type="submit" class="btn w-100 rounded-5 btn-success py-3">Register</button>
        </form>
      </div>
    </div>
  </div>
</div>